.cardDiv{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border: solid white 5px;
    border-radius: 10px;
    gap: 5px;
}

.cardDivItems{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.itemDiv{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0  10px rgba(0,0,0,0.2);
    padding: 10px;
    min-width: 300px;
    margin: 5px;
    gap: 3px;
}
.techUsedDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}