

.mainDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border: #ffff solid 2px;
    border-radius: 10px;
}
.divChips{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.chip{
    color: #ffff;
    margin: 2px;
    padding: 10px;
    border: solid 2px  #1E3A8A;
    border-radius: 40px;
    cursor: pointer;
    background: #1E3A8A;

}

.chip:hover{
    background: #3B82F6;
    border: solid 2px #3B82F6;
}
.divChipsSelected{
    background: #3B82F6;
    border: solid 2px  #3B82F6;
}